<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aleksandr.weathering">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WeatheringApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.aleksandr.weathering.model.dataBase"
            android:name=".model.dataBase.Providers"/>

        <receiver android:name=".model.WeatherReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            </receiver>


        <activity
            android:name=".ui.activities.PrefActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activities.DetailActivity"
            android:label="@string/app_name" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a656cf21e93c6a35487974a9882e6fba6e3d3c48" />
    </application>

</manifest>